<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="index.ibx"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">IBX Risk Profile</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.customer"><i class="fa fa-tasks"></i> <span class="nav-label">Customer Risk Profile</span></a>
            </li>
        </ul>

    </div>
</nav>